<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMenuMapper">

    <select id="selectMenuList" resultType="com.ruoyi.system.domain.entity.SysMenu">
        select * from sys_menu
        <where>
            del_flag = '0'
            <if test="menuName != null and menuName != ''">
                and menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="visible != null and visible != ''">
                and visible = #{visible}
            </if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuPermsByUserId" resultType="String">
        select distinct m.perms
        from sys_menu m
        inner join sys_role_menu rm on m.menu_id = rm.menu_id
        inner join sys_user_role ur on rm.role_id = ur.role_id
        where ur.user_id = #{userId} and m.status = '0' and m.perms is not null and m.perms != ''
    </select>

    <select id="selectMenuIdsByRoleId" resultType="Long">
        select menu_id from sys_role_menu where role_id = #{roleId}
    </select>

</mapper>
