<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleMapper">

    <select id="selectRoleList" resultType="com.ruoyi.system.domain.entity.SysRole">
        select * from sys_role
        <where>
            del_flag = '0'
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="roleKey != null and roleKey != ''">
                and role_key like concat('%', #{roleKey}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by role_sort
    </select>

    <delete id="deleteRoleMenuByRoleIds">
        delete from sys_role_menu where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <insert id="insertRoleMenu">
        insert into sys_role_menu (role_id, menu_id) values
        <foreach item="menuId" collection="menuIds" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <select id="selectRoleKeysByUserId" resultType="String">
        select r.role_key
        from sys_role r
        inner join sys_user_role ur on r.role_id = ur.role_id
        where ur.user_id = #{userId} and r.status = '0' and r.del_flag = '0'
    </select>

</mapper>
