<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserMapper">

    <select id="selectUserByUserName" resultType="com.ruoyi.system.domain.entity.SysUser">
        select * from sys_user where user_name = #{userName} and del_flag = '0'
    </select>

    <select id="selectUserList" resultType="com.ruoyi.system.domain.entity.SysUser">
        select * from sys_user
        <where>
            del_flag = '0'
            <if test="userName != null and userName != ''">
                and user_name like concat('%', #{userName}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
        </where>
        order by create_time
    </select>

    <update id="updateUserLoginInfo">
        update sys_user
        set login_ip = #{loginIp}, login_date = sysdate()
        where user_id = #{userId}
    </update>

    <select id="selectRoleKeysByUserId" resultType="String">
        select r.role_key
        from sys_role r
        inner join sys_user_role ur on r.role_id = ur.role_id
        where ur.user_id = #{userId} and r.status = '0'
    </select>

    <select id="selectPermsByUserId" resultType="String">
        select distinct m.perms
        from sys_menu m
        inner join sys_role_menu rm on m.menu_id = rm.menu_id
        inner join sys_user_role ur on rm.role_id = ur.role_id
        where ur.user_id = #{userId} and m.status = '0' and m.perms is not null and m.perms != ''
    </select>

    <insert id="insertUserRole">
        insert into sys_user_role (user_id, role_id) values (#{userId}, #{roleId})
    </insert>

</mapper>
