package ${packageName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.domain.entity.${className};

public interface ${className}Mapper extends BaseMapper<${className}> {
}
